/tempsensor_v1/Debug
/tempsensor_v1/Debug__GNU
/tempsensor_v1/Debug__TI
/tempsensor_v1/Release
/tempsensor_v1/Release__GNU
/tempsensor_v1/Release__TI
/tempsensor_v1/.cproject
/tempsensor_v1/.settings
/tempsensor_v1/.launches
/msp430fr59xx_euscia0_spi_09/.launches/
/msp430fr59xx_euscia0_spi_09/Debug
/msp430fr59xx_euscia0_spi_09/Debug__TI
/msp430fr59xx_euscia0_spi_09/Release
/msp430fr59xx_euscia0_spi_09/Release__TI
/documentation